prometheus.remote_write "grafanacloud" {
  endpoint {
    url = "https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push"
    send_native_histograms = true

    basic_auth {
      username = "<username>>"
      password = "<password>"
    }
  }
}

prometheus.remote_write "pushgateway" {
  endpoint {
    url = "http://localhost:9090/api/v1/write"
    send_native_histograms = true
  }
}

logging {
  level  = "debug"
  format = "json"
}

prometheus.scrape "my_scraper" {
  targets = [
    {"__address__" = "localhost:2112"},
  ]

  forward_to = [prometheus.remote_write.grafanacloud.receiver, prometheus.remote_write.pushgateway.receiver]

  scrape_interval = "5s"
  scrape_timeout = "5s"
  enable_protobuf_negotiation = true
}
